@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
input[type=text]:focus, button:focus, .nav-link:focus{outline:0;}
html {scroll-behavior: smooth;}
body{font-family: 'Nunito', sans-serif; color:#535353; font-size:16px;line-height:24px;}
h1, h2, h3, h4, h5, h6{color:#222;}
h4{font-size:18px;}
p{color:#555;font-weight:400;}
p:empty {display: none;}
p:last-of-type {margin-bottom: 0;}
a{color: #4ebea7;}
a:hover{color:#f5450b;text-decoration:none;}
.clr{clear:both;}
ul,ol{list-style-type:none; padding:0; margin:0}
.header{background-color: #f4f2e9;padding: 5px 0px;font-weight: 600;}
section{padding:30px 0px;}
.container{max-width:1200px;}

.top-header{position:relative;padding: 10px 0px 100px;}
.top-header .right-bg{position:absolute;top:0;right:0;width:890px;height:583px;z-index: -1;}
.top-menu .navbar-light .navbar-nav .nav-link {color: #000;font-size: 16px;font-weight: 600;padding: 2px 25px;border-bottom: 4px solid transparent;text-transform: uppercase;}
.top-menu .navbar-light .navbar-nav .nav-item:last-child .nav-link{padding-right:0;}
.header-text{padding-top: 40px;}
.header-text p{margin: 20px 0px 30px;}
.header-text h2{font-size: 45px;font-weight: 700;line-height: 60px;margin-bottom: 0;}
.top-menu .navbar{padding-left:0;padding-right:0;}
.btn{min-width: 165px;font-weight:700;height: 50px;padding: 0;line-height: 48px;font-size: 16px;text-transform: uppercase;color: #fff;background-color:#d9bc6a;border: 2px solid transparent;}
.top-menu{padding-top: 10px;}
.elite p{font-weight: 700;color: #474747;max-width: 180px;line-height: 22px;margin-top:15px;}
.header-content{position:relative;margin-top: 80px;}
.top-header{position:relative;}
.top-header .dotted{position:absolute;top:0;left: 0;}
.header-text h2 span{display:block;}
.landing-form{max-width:465px;width:100%;background-color:#fff;border-radius:6px;position: relative;}
.top-form{padding: 25px 0px 15px 25px;background: #fff;border-radius: 6px 6px 0 0;margin-left: -30px;margin-right: -30px;margin-top: -30px;margin-bottom: 30px;}
.top-form h3{font-size: 30px;font-weight: 600;color: #b08267;margin-bottom: 0px;}
.top-form p{font-size:16px;color:#222;}
.form-inner .form-group{margin-bottom: 10px;}
.form-inner{padding: 30px;background: #fffcf4;}
.form-inner .form-control{height: 42px;font-size: 14px;padding-left: 30px;padding-right: 6px;    border-color: #dbdbdb;}
.form-inner .form-group label{font-size: 14px;font-weight: 500;color: #000;margin-bottom: 0px;}
.form-inner .form-control::placeholder{color:#9f9e9e;}
.form-inner .input-icon{position: relative;}
.form-inner .input-icon i{position: absolute;top: 15px;font-size: 14px;left: 10px;color: #9f9e9e;}
.sign-btn{font-size:24px;font-weight:600;background-color:#d9bc6a;display:block; height:52px;text-align: center;color: #fff;line-height: 50px;border-radius: 6px;margin-top: 20px;margin-bottom:15px;border: 2px solid transparent;}
.sign-btn:hover {background-color: transparent;border: 2px solid #d9bc6a;color: #222;}
.form-main{position:relative;}
.back-div{position: absolute;background-color: rgb(241 233 213 / 70%);top: -40px;left: -50px;width: 100%;height: 100%;z-index: -1;border-radius: 6px;}
.elite_70{margin-top:80px;}
.line {position: relative;}
.line:after {content: '';position: absolute;top: 50%;right: 0;width: 1px;height: 36px;background: #ccc;}

.bg-yellow{background-color:#fffcf4;}
.heading{margin-bottom: 50px;}
.heading h5{font-size: 16px;font-weight: 700;color: #b08267;letter-spacing: 0.5px;margin-bottom: 0;}
.heading h3{font-size: 30px;font-weight: 700;margin-bottom: 20px;}
.heading p{font-size: 14px;color: #555;max-width: 630px;margin: 0 auto;}
.features{display: flex;margin-bottom: 60px;}
.features:last-child{margin-bottom:0;}
.features-content{}
.features-content h4{font-weight: 700;margin-bottom: 15px;}
.features-content p{color:#555555;}
.about-icon{margin-top: 30px;}
.about-icon h3{display: flex;align-items: center;font-size: 20px;font-weight: 700;margin-bottom: 15px;}
.about-icon h3 img{margin-right: 15px;}
.about-icon p{font-size: 14px;}

.video_bg{background: url(../img/video-bg.jpg)no-repeat center center / cover;position: relative;width: 100%;display: block;padding: 100px 0;}
.video_bg:before {position: absolute;content: '';background-color: rgb(217 188 106 / 85%);width: 100%;height: 100%;top: 0;left: 0;}
.video-promo-content {transition: all 800ms ease-in-out;}
.video-play-icon {width: 50px;height: 50px;line-height: 50px;border-radius: 50%;position: relative;z-index: 4;display: inline-block;border: 2px solid #ffffff;cursor: pointer;background: #ffffff;-webkit-animation: ripple-white 1s linear infinite;animation: ripple-white 1s linear infinite;-webkit-transition: .5s;border-radius: 50%;}
.video-play-icon span {position: absolute;text-align: center;width: 100%;top: 32%;font-size: 20px;left: 2px;font-weight: 700;color: #d9bc6a;}
.google-play-btn {background: #ffffff;border-color: #ffffff;color: #d9bc6a;border-radius: 30px;}
.google-play-btn, .app-store-btn {padding: 12px 30px;font-weight: 700;line-height: 26px; font-size: 14px;}
.app-store-btn {border-radius: 30px;color: #ffffff;border-color: #ffffff;background-color: transparent;}
.video-promo-content h5{font-weight: 700;}

@-webkit-keyframes ripple-white {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1)
    }
    100% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 30px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 30px rgba(255, 255, 255, 0)
    }
}

@keyframes ripple-white {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1)
    }
    100% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 30px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 30px rgba(255, 255, 255, 0)
    }
}

.map {background: url(../img/map.png) no-repeat center center;padding: 80px 0px;}
.contact h2 {font-size: 45px;font-weight: 600;margin-bottom: 0;letter-spacing: -0.7px;}
.contact p {font-size: 18px;font-weight: 500;color: #555555;max-width: 640px;margin: 20px auto 40px;}

footer{background-color:#222222;padding:0px 0px 0px;margin-top: 70px;}
.new_way{background-color:#f1e9d5;padding:30px;border-radius:8px;position: relative;top: -70px;}
.new_way h3{font-size: 24px;font-weight: 700;}
.new_way p{font-size: 14px;color: #555;max-width: 650px;}
.social-footer {list-style: none;margin-top: 0px;overflow:hidden;display: flex;justify-content: center;}
.social-footer li {float: left;margin-right: 10px;width: 40px;height: 40px;text-align: center;}
.social-footer li a {float: left;width: 40px;height: 40px;line-height: 40px;color: #767678;border: 1px solid #767678;border-radius: 50%;}
.social-footer li a span {font-size: 18px;line-height: 40px;}
.footer-logo{text-align:center;}
.footer_link{margin: 30px 0px 40px;}
.footer_link a{color:#fff;font-size:14px;padding:0px 20px;}
.copy{border-top: 1px solid #606060;margin-top: 60px;display: flex;justify-content: space-between;}
.copy p{font-size: 14px;margin-bottom: 0;padding: 20px 0px;color: #fff;}
.copy p a{color:#fff;}

/* hover */
.top-menu .navbar-light .navbar-nav .nav-link:hover{color: #b99839;}
.btn:hover{background-color: #ceaf2a;border: 2px solid #d9bc6a;}
.google-play-btn:hover, .app-store-btn:hover{color:#000;background-color:#fff;border-color:#fff;}
.footer_link a:hover{color: #d9bc6a;}
.social-footer li a:hover{background-color:#d9bc6a;color:#fff;border-color:#d9bc6a;}
.secound_step, .third_step{display:none;}
.otp_filed, .enter_otp{text-align: center;}
.otp_filed input{width: 48px;height: 48px;background: #f5f5f5;border: 1px solid #ddd;border-radius: 4px;font-size:24px;text-align:center;font-weight:600;}
.enter_otp a{display: block;font-size: 14px;color: #6f7581;}
.enter_otp a.color_resend{color:#675130;}
.otp_filed input:focus{background-color:#f9e9da;border-color:#ffc58f;}
.top-header.inner_header{padding: 10px 0px 20px;}
.middle_bar{text-align:center;}
.middle_bar h3{font-size:30px;font-weight:700;}
.yellow_middle{padding:30px 0px;}
.middle_bar .breadcrumb{background-color: transparent;padding: 0;margin-bottom: 0;justify-content: center;}
.middle_bar .breadcrumb .breadcrumb-item a{color: #d9bc6a;}
.trust {font-size: 18px;font-weight: 600;color: #212121;margin-bottom: 25px;}
.vission .mission-icon {flex: 0 0 58px;margin-right: 20px;}
.heading2 {color: #212121;font-size: 18px;font-weight: 600;text-transform: uppercase;}

.contact .form_control{margin-bottom: 15px; float:left; width:100%;}
.form_control label{float: left; width: 100%; clear: both; font-size: 15px; color: #808080; margin-bottom:5px; font-weight:500;}
.form_control .form_input {float: left; width: 100%; clear: both;}
.form_control .form_input input {font-size: 15px; color: #333; float: left; width: 100%; clear: both; height: 40px; border: 1px solid #d5d5d5; padding: 0 15px; border-radius: 4px;}
.contact .form_control.text_control {width: 100%;}
.form_control.text_control textarea {font-size: 15px; color: #333; float: left; width: 100%; clear: both; height:140px; border: 1px solid #d5d5d5; padding:10px 15px; border-radius: 4px;}
.contact .please_feel {font-size: 14px;color: #727272;margin: 20px auto 20px;}
.heading1 {font-size: 36px;color: #000;font-weight: 600;margin-bottom: 20px;}
.con_info {width: 100%;float: left;margin: 20px 0 0 0;}
.con_info h6 {font-size: 16px;font-weight: 700;color: #040404;}
.contact h5.fo {font-size: 14px;color: #212121;font-weight: 400;}
.contact h5.fo a {color: #212121;font-weight: 400;}
/* login-register-popup */
.login-form input { border-color: #ddd; font-size: 12px; padding: 10px 25px; height: inherit;border-radius: 4px;}
.login-form label {margin-top: 2px;text-transform: capitalize;color: #333; font-size: 14px; font-weight: 600;margin-bottom: 2px;}
.form-input h3{ font-size: 22px; text-transform: uppercase; color: #111; font-weight: 700; margin-bottom: 30px;}
.yellow_btn { padding: 20px 25px; width: 100%; background: #2686ff; border: none; text-align: left; border-radius: 0; font-weight: 500; color: #fff;}
.yellow_btn span{border:1px solid #1066d2;background-color:#1066d2;padding: 3px 15px;margin-left: 6px;display: inline-block;border-radius: 4px;font-weight: 400; }
.yellow_btn span:hover{border-color:#fff;background-color:transparent;}
.form-input{padding: 20px 20px;}
.login-form input[type="checkbox"]{width:16px;height:16px;}
.forget{float: right;color: #222;}
#login_model .modal-body{background: #fffcf4;}
#login_model .close{ position: absolute; right: 10px; top: 10px; z-index: 1;}
@media (min-width: 576px){#login_model .modal-dialog, #register_model .modal-dialog { max-width: 355px; margin: 1.75rem auto;}}
.btn-solid { padding: 10px 30px; color: #ffffff; background-color: #2686ff; border-radius: 5px;}
.btn-solid:hover{color: #fff;}
.yellow_btn:hover {color: #fff;}
.login-form #submit {display: block;margin: auto;}
.social-login a {margin: 7px 0;}
.social-login {margin-top: 15px;text-align: center;}
.form-more {text-align: center;font-size: 16px;text-transform: uppercase;font-weight: 500;margin: 8px 0;}
.input-button a{border-radius: 0;height: 58px;font-size:14px;display: flex;align-items: center;justify-content: center;}
.input-button a:hover{background-color: #d9bc6a;color:#fff;}
.input-button a span{border: 1px solid #d9bc6a;background-color: #b19239;padding: 3px 15px;margin-left: 6px;display: inline-block;border-radius: 4px;font-weight: 400;height: 36px;line-height: 32px;}
.input-button a span:hover{border-color:#fff;}
.btn.border_btn{background-color: transparent;color:#000;border-color:#d9bc6a;}
.btn.border_btn:hover{background-color: #d9bc6a;color:#fff;}
.forget{color: #333;font-size: 14px;font-weight: 600;}
/* login-register-popup end */

/* 05-04-2021 */
.top-header .right-bg.inner-bg{width: 800px;}
.user {padding: 3px 0px;border-left: 1px solid #d2a274;}
.notification {position: relative;width: 50px;}
.notification a {font-size: 24px;color: #333;}
.notification .notification-number { position: absolute;top: -7px;right: 31%;background: #ff787e;min-width: 18px;height: 18px;text-align: center;line-height: normal;border-radius: 50%;color: #fff;font-size: 13px;transform: translateX(-27%);}
.img-user {position: relative;}
.img-user small {position: absolute;width: 10px;height: 10px;background: #ff787e;border-radius: 50%;right: 6px;border: 1px solid #fff;}
.user-text button {background-color: transparent;border: none;margin-left: 10px;}
.user-text .dropdown-menu {left: auto;top: 42px;border-radius: 0px;min-width: 17rem;right: 0;padding: 0;border: none;background: #fff;}
.user-details {padding: 12px;}
.user-photo {margin-right: 10px;}
.user-deatil p {color: #000;font-weight: 600;}
.user-deatil small {line-height: 18px;display: block;color: #555;}
.user-text .dropdown-menu .dropdown-item {padding: 6px 20px;font-size: 15px;font-weight: 500;color: #555;position: relative;}

.bg-gray {background-color: #f5f5f5;}
.left-nav {border-radius: 4px;overflow: hidden;position: sticky;top: 20px;}
.user-info {margin-top: -50px;padding-bottom: 10px;border-bottom: 1px solid #ddd;}
.profile-pic {width: 109px;height: 109px;border-radius: 50%;border: 6px solid #fff;margin: 0 auto;}
.profile-pic img {border: 4px solid #fff;border-radius: 50%;}
.user-info h3 {font-size: 18px;font-weight: 600;color: #000;margin-bottom: 4px;margin-top: 10px;}
.user-info p {font-size: 14px;color: #686868;}
.user-nav {padding: 0px 20px 20px;}
.user-nav ul li a {color: #333;font-weight: 600;padding: 10px 0px;display: block;}
.user-nav ul li a i{margin-right:5px;}
.top-search {position: relative;display: block;padding: 10px 20px;}
.top-search input {border: 1px solid #ddd;background: #f5f5f5;height: 38px;width: 100%;padding: 0px 12px 0px 35px;font-size: 14px;border-radius: 4px;}
.top-search i {position: absolute;left: 30px;top: 21px;}
.top-search input:focus-visible{box-shadow: none;outline: none;}
.write-post {
    border-radius: 4px;
    margin-bottom: 30px;
}
.write-post p {
    font-size: 18px;
    color: #333333;
    font-weight: 600;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
}
.write {
    padding: 10px 15px 15px 15px;
}
.profile-post {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-right: 10px;
    flex: 0 0 8%;
}
.post-text {
    width: 100%;
    flex: 0 0 92%;
}
.post-text textarea {
    border: none;
    height: 61px;
    resize: none;
}
.who {
    margin-left: -15px;
    background: #eee;
    margin-bottom: -15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 15px 6px 6px;
    margin-right: -15px;
}
.photo {
    display: flex;
    align-items: center;
}
.coustom-input{position: relative;margin-left: 15px;}
.coustom-input.coustom-input-new {
	height: 29px;width: 29px;cursor: pointer;}
	.custom-file-input {
    color: transparent;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}
.form-control:focus {
    box-shadow: none;
}
.coustom-input.coustom-input-new i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    right: 0;
}
.post_btn {
    background-color: #d2a274;
    border: none;
    color: #fff;
    padding: 6px 25px;
    border-radius: 4px;
    font-weight: 600;
}
.write-post {
    border-radius: 4px;
    margin-bottom: 30px;
}
.main-post {
    position: relative;
	padding: 20px;
}
.port-profile {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
    flex: 0 0 52px;
}
.port-profile img {
    width: 100%;
}
.post-content h5 {
    font-size: 15px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 0;
    margin-bottom: 3px;
}
.post-content p {
    padding: 0;
    border: none;
    font-size: 13px;
    margin: 0;
    line-height: 17px;
    color: #555555;
}
.post-content p {
    padding: 0;
    border: none;
    font-size: 13px;
    margin: 0;
    line-height: 17px;
    color: #555555;
}

.post-content-bottm p {
    color: #000;
    line-height: 22px;
    font-size: 14px;
    font-weight: 500;
    padding: 25px 0px;
}
.like-comment {
    padding-top: 15px;
}
.like-new {
    align-items: center;
}
.like {
    font-size: 14px;
    font-weight: 600;
    color: #555555;
    margin-right: 25px;
    cursor: pointer;
    line-height: 0;
}
.like-new i {font-size: 30px;-webkit-text-stroke-color: #000;-webkit-text-stroke-width: 1px;color: transparent;margin-right: 7px;}
.like-new.active i {-webkit-text-stroke-color: #d2a274;-webkit-text-stroke-width: 0px;color: #d2a274;}
.like-count {width: 25px;height: 25px;background: #d2a274;color: #fff;border-radius: 50%;display: inline-block;margin-bottom: -10px;line-height: 24px;padding: 0;text-align: center;font-weight: 200;margin-left: 10px;margin-top: -8px;}
.like svg {margin-right: 6px;}
.post-update {font-size: 15px;font-weight: 600;color: #333333;border-bottom: 1px solid #ddd; margin-left: -20px;margin-right: -20px;padding: 0px 20px 20px;margin-bottom: 20px;}
.post-comment {margin-left: -20px; margin-right: -20px;margin-bottom: -20px;padding: 8px 20px 8px;background: #eeeeee;margin-top: 18px;}
.post-comment .port-profile {width: 45px;height: 45px;flex: 0 0 45px;}
.text-box {position: relative;}
.text-box input {border-radius: 30px;height: 46px;}
.text-box button {border: none;position: absolute;top: 10px;right: 20px;background: transparent;}
.text-box button img {width: 25px;}
.blue .comment-box {display: block;max-height: 500px;overflow-Y: scroll;margin-right: -20px;padding-right: 20px;}
.comment-widgets .comment-row {border-bottom: 1px solid transparent;display: -webkit-box;display: -ms-flexbox;display: flex;margin: 10px 0;}
.comment-text {background-color: #f5f5f5;margin-left: 15px;padding: 10px;border-radius: 0px 15px 15px;position: relative;}
.comment-widgets .font-medium {font-size: 15px;font-weight: 600;color: #333333;margin-bottom: 0;}
.comment-widgets p {padding: 0;border: none;font-size: 12px;margin: 0;line-height: 17px;color: #555555;font-weight: 300;}
.comment-widgets span {font-size: 13px; margin-top: 10px;color: #000;}
.comment-section {margin-top: 4px;margin-left: 15px;}
.comment-section .like-comment {padding-top: 0;}
.comment-section .like-comment .like-new, .comment-section .like-comment .like {font-size: 13px;font-weight: 400;}
.comment-section .like-comment .like-new i {font-size: 18px;}
.comment-section .like-comment .like-new .like-count {background: transparent;color: #333;font-weight: 600;margin-left: 3px;margin-bottom: -9px;}
.comment-section .like-comment .like svg {width: 16px;}
.comment-box {display: none;}
.like:hover{color: #d2a274;}
.like:hover i {-webkit-text-stroke-color: #d2a274;}
.like:hover svg{fill: #d2a274;}
.user-nav ul li a:hover{color: #d2a274;}
.post_video{margin: 30px 0px;}
.post_video .video_div{margin-right: 15px;border-radius: 6px;overflow: hidden;width: 120px;position:relative;background-color:#000;}
.video_div a{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);font-size: 24px;color: #fff;}
.video_div p{position: absolute;bottom: 0px;color: #fff;text-align: center;width: 100%;font-weight: 600;background-color: rgb(0 0 0 / 51%);}
.tags_video a{background-color: #d2a274;color: #fff;font-size: 14px;font-weight: 600;padding: 0px 12px;display: inline-block;border-radius: 4px;line-height: 26px;}
.tags_video a span{background-color: #b3763c;display: inline-block;width: 18px;text-align: center;height: 18px;line-height: 19px;border-radius: 50%;font-size: 12px;margin-left: 5px;}

.profile{padding:20px;}
/*.user_photo{width: 90px;height: 90px;border: 1px dashed #d2a275;border-radius: 50%;display: flex;align-items: center;!* margin: 0 auto 10px; *!margin-left: 270px;position: absolute;margin-top: 50px;}*/
.user_photo {
    width: 90px;
    height: 90px;
    border: 1px dashed #d2a275;
    border-radius: 50%;
    display: flex;
    align-items: center;
    /* margin: 0 auto 10px; */
    margin-left: 270px;
    position: absolute;
    margin-top: 50px;
}
.user_photo img{border-radius: 50%;overflow: hidden;width: 90px;height: 90px;padding: 3px;}
.user_profile p{color: #000;font-size: 18px;font-weight: 600;}
.follow label{font-weight: 800;color: #000;margin-bottom:0;}
.follow{margin: 20px 40px 0;}
.btn.request{background-color: #f9e9da;margin: 30px auto;display: block;color: #222;max-width: 165px;height: 45px;line-height: 45px;}

.user_about ul{list-style-type: circle;list-style-position: inside;}
.user_about h4{font-weight: 600;}
.user_about a{color: #007afe;margin-top: 10px;display: inline-block;}
.btn.create_post{background-color: #335c67;margin: 20px auto;display: block;color: #fff;max-width: 165px;height: 45px;line-height: 45px;}

.post_video_profile .nav .nav-item .nav-link {width: 100%;background-color: transparent;color:#222;padding: .8rem 1rem;}
.post_video_profile .nav .nav-item .nav-link.active{background-color: transparent;border: transparent;color:#d2a274;}
.post_video_profile .nav {border-top: 1px solid #dee2e6;}
.post_video_profile .nav .nav-item{border-right: 1px solid #dee2e6;}
.post_video_profile .nav .nav-item:nth-child(2){border:none;}
.post_img{display: flex;flex-wrap: wrap;margin-top: 10px;}
.post_img .post-videe{flex: 0 0 25%;}
.post_video_profile .nav .nav-item .nav-link img{margin-right:5px;}
.content-img {margin-bottom: 0px;border-bottom: 1px solid #ddd;padding-bottom: 30px;margin-left: -20px;margin-right: -20px;}
.text-blue{color: #007afe;}
.search_inner .search_div .top-search{padding: 10px 0px;}
.search_inner .search_div .top-search i{left: 10px;top: 26px;}
.search_inner .search_div .top-search input{height: 46px;}
.search_inner .search_div{margin-bottom:20px;}
.notification-item {padding: 15px 15px;border-bottom: 1px solid #ddd;position: relative;}
.notification-item .media img {max-width: 50px;}
.notification-item .media .media-body {color: #000;line-height: 20px;font-size: 13px;padding-right: 30px;}
.notification-item .media .media-body h5 {font-size: 16px;font-weight: 600;margin-bottom: 5px;}
.connect-btn {display: block;border: 1px solid #d2a274;width: 120px;text-align: center;padding: 4px 10px;color: #000;margin-top: 10px;}
.chat_result{border-bottom: 1px solid #ddd;padding: 10px 0;}
.nav-tabs .nav-item {margin-bottom: -2px;}
.chat_tab .nav .nav-item .nav-link{background-color:#d2a275;font-weight:600;border-radius:0;color:#fff;text-transform:uppercase;}
.chat_tab .nav .nav-item .nav-link.active{background-color:#f9e9da;color:#222;}
.counting{background: #ffc793;color: #000;width: 25px;height: 25px;text-align: center;border-radius: 50%;font-weight: 600;}
.chat_result:last-child{border:none;}
.search_inner h3{font-size: 20px;color: #333333;font-weight: 600;padding: 15px 0px;border-bottom: 1px solid #ddd;}

.dropdown-option {position: absolute;right: 20px;}
.dropdown-option .dropdown .dropdown-toggle {background: transparent;border: none;}
.dropdown-option .dropdown .dropdown-toggle:after{display:none;}
.dropdown-option .dropdown button img {width: 20px;opacity: 0.5;}
.dropdown-option .dropdown-menu {left: auto!important;right: 0!important;}

.qst{font-size:18px; margin:15px 0; font-weight:600; color:#000;}
.cus_radio {display: block;position: relative;padding-left: 35px;margin-bottom: 12px;cursor: pointer;font-size: 18px; -webkit-user-select: none;
    -moz-user-select: none; -ms-user-select: none; user-select: none;}
.cus_radio input { position: absolute; opacity: 0; cursor: pointer;}
.checkmark { position: absolute; top: 0; left: 0; height: 20px; width: 20px; background-color: #eee; border-radius: 50%;}
.cus_radio:hover input ~ .checkmark { background-color: #ccc;}
.cus_radio input:checked ~ .checkmark { background-color: #f00;}
.checkmark:after { content: ""; position: absolute; display: none;}
.cus_radio input:checked ~ .checkmark:after { display: block;}
.cus_radio .checkmark:after {top: 5px;left: 5px;width: 10px;height: 10px;border-radius: 50%;background: white;}
.result .progress{margin-bottom:15px; background:transparent;}
.poll .progress{width: 556px;height: 30px;border-radius: 30px;}
.poll .progress .progress-bar{background-color:#8995c7;}
.poll-result .cus_radio{margin-bottom: 0;position: absolute;top: -5px;left: 5px;font-size: 14px;padding-left: 27px;color: #000;font-weight: 600;}
.poll-result{margin-bottom:20px;}
.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #b5b9bd;
    border-radius: .25rem;
}
.poll_present{
    margin-left: 505px;
}
.cus_radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.magazine{padding-top:0;}                   
.magazine .content-img{border: none;padding-bottom: 15px;}                  
.magazine .post-content-bottm h3{font-size: 20px;font-weight: 600;}
.magazine .post-content-bottm p{padding-top: 0;border-bottom: none;margin-bottom: 0px;padding-bottom: 15px;}
.magazine .post-content-bottm p:last-child{border-bottom:1px solid #ddd;}

.middle-search{    background: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 0px;
    margin-bottom: 50px;margin-top: 10px;}
.search-input{    position: relative;
    max-width: 700px;
    margin: 0 auto;display: flex;
    align-items: center;}

.search-input input{height: 50px;}
.search-input i{    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 18px;}
 .advance_search{    font-weight: 600;
     color: #000;
     margin-left: 25px;}
.advance_search:hover{color: #676767;
    text-decoration: underline;}
 .advance_search i{    position: static;}
.ui-autocomplete-row  {background-color: #fff;border-radius: 50%;font-weight:bold;}
.search-input .position-relative{    min-width: 530px;}
.know_people{display:flex; flex-wrap: wrap;}
.know_people h4{width:100%;}
.know_people .user_info{display:flex;width: fit-content; background-color: f1f1f1; padding: 8px; border-radius: 10px; margin: 0 10px 10px 0; align-items:center;}
.know_people .user_info img{width:50px; border-radius: 50%; margin-right: 10px;}
.know_people .user_info span p{font-size: 16px; color:#000; font-weight: 500;}
.know_people .user_info span a{background-color: #ceaf2a; border: 2px solid #d9bc6a; color: #000000;  font-size: 13px;
    padding: 0px 10px; font-weight: 700; border-radius: 5px;}

.ui-menu .ui-menu-item, .ui-menu .ui-menu-item li, .ui-menu .ui-menu-item li a{width:100%;}
.ui-menu .ui-menu-item-wrapper {display: block;}
.ui-menu .ui-menu-item-wrapper:hover { background-color: #eeeeee !important; color:#000!important;}
.tranding{box-shadow:none;}
.tranding_post{margin-bottom:15px;background: #f5f5f5;}
.tranding_post img{    height: 121px;
    margin: 0 auto;
    display: block;
    object-fit: cover;}
.tranding_post a{text-align: center;
    display: block;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    padding-top: 3px;}
.tranding_post a:hover{text-decoration: underline;}
.tranding-heading{    color: #000;
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: underline; }
.tranding-heading a{padding-left: 10px;}


.filter{    padding: 15px;
    background: #f5f5f5;}
.filter h3{    margin-bottom: 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;}

   








