@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
input[type=text]:focus, button:focus, .nav-link:focus{outline:0;}
html {scroll-behavior: smooth;}
body{font-family: 'Nunito', sans-serif; color:#535353; font-size:16px;line-height:24px;}
h1, h2, h3, h4, h5, h6{color:#222;}
h4{font-size:18px;}
p{color:#555;font-weight:400;}
p:empty {display: none;}
p:last-of-type {margin-bottom: 0;}
a{color: #4ebea7;}
a:hover{color:#f5450b;text-decoration:none;}
.clr{clear:both;}
ul,ol{list-style-type:none; padding:0; margin:0}
.header{background-color: #f4f2e9;padding: 5px 0px;font-weight: 600;}
section{padding:60px 0px;}
.container{max-width:1200px;}

.top-header{position:relative;padding: 10px 0px 100px;}
.top-header .right-bg{position:absolute;top:0;right:0;width:890px;height:583px;z-index: -1;}
.top-menu .navbar-light .navbar-nav .nav-link {color: #000;font-size: 16px;font-weight: 600;padding: 2px 25px;border-bottom: 4px solid transparent;text-transform: uppercase;}
.top-menu .navbar-light .navbar-nav .nav-item:last-child .nav-link{padding-right:0;}
.header-text{padding-top: 40px;}
.header-text p{margin: 20px 0px 30px;}
.header-text h2{font-size: 45px;font-weight: 700;line-height: 60px;margin-bottom: 0;}
.top-menu .navbar{padding-left:0;padding-right:0;}
.btn{min-width: 165px;font-weight:700;height: 50px;padding: 0;line-height: 48px;font-size: 16px;text-transform: uppercase;color: #fff;background-color:#d9bc6a;border: 2px solid transparent;}
.top-menu{padding-top: 10px;}
.elite p{font-weight: 700;color: #474747;max-width: 180px;line-height: 22px;margin-top:15px;}
.header-content{position:relative;margin-top: 80px;}
.top-header{position:relative;}
.top-header .dotted{position:absolute;top:0;left: 0;}
.header-text h2 span{display:block;}
.landing-form{max-width:465px;width:100%;background-color:#fff;border-radius:6px;position: relative;}
.top-form{padding: 25px 0px 15px 25px;background: #fff;border-radius: 6px 6px 0 0;margin-left: -30px;margin-right: -30px;margin-top: -30px;margin-bottom: 30px;}
.top-form h3{font-size: 30px;font-weight: 600;color: #b08267;margin-bottom: 0px;}
.top-form p{font-size:16px;color:#222;}
.form-inner .form-group{margin-bottom: 10px;}
.form-inner{padding: 30px;background: #fffcf4;}
.form-inner .form-control{height: 42px;font-size: 14px;padding-left: 30px;padding-right: 6px;    border-color: #dbdbdb;}
.form-inner .form-group label{font-size: 14px;font-weight: 500;color: #000;margin-bottom: 0px;}
.form-inner .form-control::placeholder{color:#9f9e9e;}
.form-inner .input-icon{position: relative;}
.form-inner .input-icon i{position: absolute;top: 15px;font-size: 14px;left: 10px;color: #9f9e9e;}




/*.sign-btn{width:225px;margin-left:110px;font-size:24px;font-weight:600;background-color:#d9bc6a;display:block; height:52px;text-align: center;color: #fff;line-height: 50px;border-radius: 6px;margin-top: 20px;margin-bottom:15px;border: 2px solid transparent;}*/
.sign-btn {


    font-size: 24px;
    font-weight: 600;
    background-color: #d9bc6a;
    display: block;
    height: 52px;
    text-align: center;
    color: #fff;
    line-height: 50px;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 15px;
    border: 2px solid transparent;
}
.sign-btn:hover {background-color: transparent;border: 2px solid #d9bc6a;color: #222;}
.form-main{position:relative;}
.back-div{position: absolute;background-color: rgb(241 233 213 / 70%);top: -40px;left: -50px;width: 100%;height: 100%;z-index: -1;border-radius: 6px;}
.elite_70{margin-top:80px;}
.line {position: relative;}
.line:after {content: '';position: absolute;top: 50%;right: 0;width: 1px;height: 36px;background: #ccc;}

.bg-yellow{background-color:#fffcf4;}
.heading{margin-bottom: 50px;}
.heading h5{font-size: 16px;font-weight: 700;color: #b08267;letter-spacing: 0.5px;margin-bottom: 0;}
.heading h3{font-size: 30px;font-weight: 700;margin-bottom: 20px;}
.heading p{font-size: 14px;color: #555;max-width: 630px;margin: 0 auto;}
.features{display: flex;margin-bottom: 60px;}
.features:last-child{margin-bottom:0;}
.features-content{}
.features-content h4{font-weight: 700;margin-bottom: 15px;}
.features-content p{color:#555555;}
.about-icon{margin-top: 30px;}
.about-icon h3{display: flex;align-items: center;font-size: 20px;font-weight: 700;margin-bottom: 15px;}
.about-icon h3 img{margin-right: 15px;}
.about-icon p{font-size: 14px;}

.video_bg{background: url(../img/video-bg.jpg)no-repeat center center / cover;position: relative;width: 100%;display: block;padding: 100px 0;}
.video_bg:before {position: absolute;content: '';background-color: rgb(217 188 106 / 85%);width: 100%;height: 100%;top: 0;left: 0;}
.video-promo-content {transition: all 800ms ease-in-out;}
.video-play-icon {width: 50px;height: 50px;line-height: 50px;border-radius: 50%;position: relative;z-index: 4;display: inline-block;border: 2px solid #ffffff;cursor: pointer;background: #ffffff;-webkit-animation: ripple-white 1s linear infinite;animation: ripple-white 1s linear infinite;-webkit-transition: .5s;border-radius: 50%;}
.video-play-icon span {position: absolute;text-align: center;width: 100%;top: 32%;font-size: 20px;left: 2px;font-weight: 700;color: #d9bc6a;}
.google-play-btn {background: #ffffff;border-color: #ffffff;color: #d9bc6a;border-radius: 30px;}
.google-play-btn, .app-store-btn {padding: 12px 30px;font-weight: 700;line-height: 26px; font-size: 14px;}
.app-store-btn {border-radius: 30px;color: #ffffff;border-color: #ffffff;background-color: transparent;}
.video-promo-content h5{font-weight: 700;}

@-webkit-keyframes ripple-white {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1)
    }
    100% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 30px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 30px rgba(255, 255, 255, 0)
    }
}

@keyframes ripple-white {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1)
    }
    100% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 30px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 30px rgba(255, 255, 255, 0)
    }
}

.map {background: url(../img/map.png) no-repeat center center;padding: 80px 0px;}
.contact h2 {font-size: 45px;font-weight: 600;margin-bottom: 0;letter-spacing: -0.7px;}
.contact p {font-size: 18px;font-weight: 500;color: #555555;max-width: 640px;margin: 20px auto 40px;}

footer{background-color:#222222;padding:0px 0px 0px;margin-top: 70px;}
.new_way{background-color:#f1e9d5;padding:30px;border-radius:8px;position: relative;top: -70px;}
.new_way h3{font-size: 24px;font-weight: 700;}
.new_way p{font-size: 14px;color: #555;max-width: 650px;}
.social-footer {list-style: none;margin-top: 0px;overflow:hidden;display: flex;justify-content: center;}
.social-footer li {float: left;margin-right: 10px;width: 40px;height: 40px;text-align: center;}
.social-footer li a {float: left;width: 40px;height: 40px;line-height: 40px;color: #767678;border: 1px solid #767678;border-radius: 50%;}
.social-footer li a span {font-size: 18px; line-height:40px;}
.footer-logo{text-align:center;}
.footer_link{margin: 30px 0px 40px;}
.footer_link a{color:#fff;font-size:14px;padding:0px 20px;}
.copy{border-top: 1px solid #606060;margin-top: 60px;display: flex;justify-content: space-between;}
.copy p{font-size: 14px;margin-bottom: 0;padding: 20px 0px;color: #fff;}
.copy p a{color:#fff;}

/* hover */
.top-menu .navbar-light .navbar-nav .nav-link:hover{color: #b99839;}
.btn:hover{background-color: transparent;border: 2px solid #d9bc6a ;}
.google-play-btn:hover, .app-store-btn:hover{color:#000;background-color:#fff;border-color:#fff;}
.footer_link a:hover{color: #d9bc6a;}
.social-footer li a:hover{background-color:#d9bc6a;color:#fff;border-color:#d9bc6a;}
.secound_step, .third_step{display:none;}
.otp_filed, .enter_otp{text-align: center;}
.otp_filed input{width: 48px;height: 48px;background: #f5f5f5;border: 1px solid #ddd;border-radius: 4px;font-size:24px;text-align:center;font-weight:600;}
.enter_otp a{display: block;font-size: 14px;color: #6f7581;}
.enter_otp a.color_resend{color:#675130;}
.otp_filed input:focus{background-color:#f9e9da;border-color:#ffc58f;}
.top-header.inner_header{padding: 10px 0px 20px;}
.middle_bar{text-align:center;}
.middle_bar h3{font-size:30px;font-weight:700;}
.yellow_middle{padding:30px 0px;}
.middle_bar .breadcrumb{background-color: transparent;padding: 0;margin-bottom: 0;justify-content: center;}
.middle_bar .breadcrumb .breadcrumb-item a{color: #d9bc6a;}
.trust {font-size: 18px;font-weight: 600;color: #212121;margin-bottom: 25px;}
.vission .mission-icon {flex: 0 0 58px;margin-right: 20px;}
.heading2 {color: #212121;font-size: 18px;font-weight: 600;text-transform: uppercase;}

.contact .form_control{margin-bottom: 15px; float:left; width:100%;}
.form_control label{float: left; width: 100%; clear: both; font-size: 15px; color: #808080; margin-bottom:5px; font-weight:500;}
.form_control .form_input {float: left; width: 100%; clear: both;}
.form_control .form_input input {font-size: 15px; color: #333; float: left; width: 100%; clear: both; height: 40px; border: 1px solid #d5d5d5; padding: 0 15px; border-radius: 4px;}
.contact .form_control.text_control {width: 100%;}
.form_control.text_control textarea {font-size: 15px; color: #333; float: left; width: 100%; clear: both; height:140px; border: 1px solid #d5d5d5; padding:10px 15px; border-radius: 4px;}
.contact .please_feel {font-size: 14px;color: #727272;margin: 20px auto 20px;}
.heading1 {font-size: 36px;color: #000;font-weight: 600;margin-bottom: 20px;}
.con_info {width: 100%;float: left;margin: 20px 0 0 0;}
.con_info h6 {font-size: 16px;font-weight: 700;color: #040404;}
.contact h5.fo {font-size: 14px;color: #212121;font-weight: 400;}
.contact h5.fo a {color: #212121;font-weight: 400;}
/* login-register-popup */
.login-form input { border-color: #ddd; font-size: 12px; padding: 10px 25px; height: inherit;border-radius: 4px;}
.login-form label {text-transform: capitalize;color: #333; font-size: 14px; font-weight: 600;margin-bottom: 2px;}
.form-input h3{ font-size: 22px; text-transform: uppercase; color: #111; font-weight: 700; margin-bottom: 30px;}
.yellow_btn { padding: 20px 25px; width: 100%; background: #2686ff; border: none; text-align: left; border-radius: 0; font-weight: 500; color: #fff;}
.yellow_btn span{border:1px solid #1066d2;background-color:#1066d2;padding: 3px 15px;margin-left: 6px;display: inline-block;border-radius: 4px;font-weight: 400; }
.yellow_btn span:hover{border-color:#fff;background-color:transparent;}
.form-input{padding: 20px 20px;}
.login-form input[type="checkbox"]{width:16px;height:16px;}
.forget{float: right;color: #222;}
#login_model .modal-body{background: #fffcf4;}
#login_model .close{ position: absolute; right: 10px; top: 10px; z-index: 1;}
@media (min-width: 576px){#login_model .modal-dialog, #register_model .modal-dialog { max-width: 355px; margin: 1.75rem auto;}}
.btn-solid { padding: 10px 30px; color: #ffffff; background-color: #2686ff; border-radius: 5px;}
.btn-solid:hover{color: #fff;}
.yellow_btn:hover {color: #fff;}
.login-form #submit {display: block;margin: auto;}
.social-login a {margin: 7px 0;}
.social-login {margin-top: 15px;text-align: center;}
.form-more {text-align: center;font-size: 16px;text-transform: uppercase;font-weight: 500;margin: 8px 0;}
.input-button a{border-radius: 0;height: 58px;font-size:14px;display: flex;align-items: center;justify-content: center;}
.input-button a:hover{background-color: #d9bc6a;color:#fff;}
.input-button a span{border: 1px solid #d9bc6a;background-color: #b19239;padding: 3px 15px;margin-left: 6px;display: inline-block;border-radius: 4px;font-weight: 400;height: 36px;line-height: 32px;}
.input-button a span:hover{border-color:#fff;}
.btn.border_btn{background-color: transparent;color:#000;border-color:#d9bc6a;}
.btn.border_btn:hover{background-color: #d9bc6a;color:#fff;}
.forget{color: #333;font-size: 14px;font-weight: 600;}
/* login-register-popup end */







































