@charset "utf-8";

@media(max-width:1300px){
	.top-header .right-bg{width: 790px;}
}

@media(max-width:1200px){
	.top-header .right-bg {width: 620px;}
	.header-text h2{font-size: 36px;line-height: 40px;}
	.header-text {padding-top: 40px;}
	.line:after{display:none;}
	.elite_70 {margin-top: 40px;}
	.features {margin-bottom: 40px;}
}

@media(max-width:1024px){
	
}

@media(max-width:991px){
	.top-header .right-bg {width: 490px;}
	.header-text h2 {font-size: 24px;line-height: 30px;}
	.navbar-toggler{background: #fff;height: 40px;width: 40px;padding: 0;border-radius: 0;}
	.navbar-nav{background: #222;width: 100%;z-index: 1;}
	.top-menu .navbar-light .navbar-nav .nav-link{border-bottom: 1px solid #fff;padding: 5px 25px;    font-size: 14px;color:#fff;}
	.middle-img{display:none;}
	.features_mobile{flex-direction: row-reverse;justify-content: flex-end;}
	.features_mobile .text-right{text-align: left!important;}
	.features_mobile.features:last-child {margin-bottom: 40px;}
	.features_mobile .ml-4{margin-left:0!important;margin-right:25px;}
	.heading p{margin: unset;}
	.bg-yellow .heading p{margin: auto;}
}

@media(max-width:767px){
		.navbar-brand img{max-width: 100px;}
		.top-header .right-bg {width: 230px;}
		.header-text {padding-top: 20px;}
		.top-header .dotted{display:none;}
		.top-menu .navbar{padding-left: 0;padding-right: 0;}
		.header-text p {margin: 15px 0px;}
		p{font-size:14px !important;line-height:22px;}
		.btn{    min-width: 185px;    line-height: 40px;    height: 40px;font-size:14px;}
		.header-content .mt-5{margin-top:30px !important;}
		.header-content{margin-top: 40px;}
		.form-main{margin-top: 50px;}
		.top-header{padding: 10px 0px 30px;}
		.heading h5{font-size: 14px;}
		.heading h3{margin-bottom: 10px;font-size: 18px;margin-top: 5px;}
		.heading {margin-bottom: 30px;}
		.features-content h4 {margin-bottom: 5px;}
		section {padding: 30px 0px;}
		.about-icon h3{font-size: 16px;}
		.google-play-btn, .app-store-btn {padding: 12px 15px;font-weight: 700;line-height: 15px !important;font-size: 14px !important;min-width: auto !important;}
		.map{padding: 40px 0px;}
		.contact h2{font-size: 24px;}
		.contact p{margin: 10px auto 20px;}
		.new_way h3{font-size: 18px;}
		.new_way{padding: 15px; top: -40px;}
		.new_way a{width:100%;margin-top: 20px;}
		footer{margin-top: 30px;}
		.footer_link a{padding: 0px 15px;}
		.footer_link {margin: 20px 0px 20px;}
		.copy{margin-top: 30px;display: block;text-align: center;padding: 10px 0px;}
		.copy p{padding: 0px 0px;}
}















