.upload_photo .user_photo {position: relative;width: 120px;height: 120px;border: 1px dashed #ddd;margin-right: 20px;}
.upload_photo .user_photo input[type="file"] {width: 100%;height: 100%;opacity: 0;position: relative;z-index: 1;}
.upload_photo .user_photo:before {content: '';position: absolute;background: url(../../public/admin/img/camera.png) no-repeat center center;width: 100%;height: 100%;}
.upload_photo {display: flex;align-items: center;margin-top: 30px;}
.photo_content h2 {text-transform: uppercase;font-size: 16px;font-weight: 600;margin-bottom: 0;}
.photo_content p {font-size: 14px;}
.upload_img {position: absolute;top: 0;left: 0;right: 0;height: 100%;}
.upload_img img {width: 100%;}
a.navbar-nav-link.dropdown-toggle {margin-top: -9px;}
.navbar {position: sticky;top: 0;z-index: 9999;}
.wrapper {position: relative;}
.dashboard-page-one {}
@media only screen and (min-width: 768px) {  .sidebar-expand-md {position: fixed;left: 0;top: 70px;}  .dashboard-content-one {padding-left: 30rem;}  .wrapper.sidebar-collapsed .dashboard-page-one .dashboard-content-one {padding-left: 10rem;}  }
.action_menu:after {display: none !important;}
.sidebar_menu:after {display: none !important;}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {box-sizing: border-box;list-style: none;margin: 0;padding: 0 5px;width: 100%;height: 50px;background-color: #f0f1f3;outline: none;border: none;outline: none;}
span.select2-container--default .select2-selection--multiple {background-color: white;border: none;border-radius: 4px;cursor: text;outline: none;}
input {border: none;}
.search {height: 50px;}
.bootstrap-select {width: 100% !important;}
.bootstrap-select .dropdown-toggle {line-height: 45px;padding-left: 20px;height: 50px;background: #f0f1f3;}
.bootstrap-select .dropdown-toggle .filter-option-inner-inner {font-size: 15px;}
.remove_image{
    position: absolute;
    margin-left: 173px;
    width: 27px;
    margin-top: 7px;
    margin-right: 5px;
    background-color: #042954;
    color: white;
    border-radius: 25px;
    text-align: center;
}
.remove_image:hover{
    background-color: #ffae01;
}
